<!DOCTYPE html>

<html>

<head>

    <title>Flask app</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>

</head>

  <body>

    <header>

      <div class="container">

        <h1 class="logo">ProjectFour</h1>

        <strong><nav>

          <ul class="menu">

            <li><a href="{{ url_for('router') }}">Router</a></li>
            <li><a href="{{ url_for('router2') }}">Router2</a></li>
            <li><a href="{{ url_for('L2switch') }}">L2switch</a></li>
            <li><a href="{{ url_for('L3switch') }}">L3switch</a></li>
            <li><a href="{{ url_for('member') }}">Member</a></li>

          </ul>

        </nav></strong>

      </div>

    </header>

    <div class="container">

      {% block content %}

      {% endblock %}

    </div>
    {% block body %}{% endblock %}

  </body>

</html>