{% extends "layout.html" %}

{% block content %}

  <div class="router2">

    <h1>Router3640</h1>
    <p>System</p>
    <table  border = 1; align="center" >
        <thead>
           <td>OID</td>
           <td>Value</td>
           <td>Type</td>
           <td>Time</td>
        </thead>
        {% for row in sysrow %}
             <tr  >
            <td>{{row["oids"]}}</td>
            <td>{{row["ka"]}}</td>
            <td> {{row["types"]}}</td>
            <td>{{row['times']}}</td>	
         </tr>
      {% endfor %}
     </table>
     <p>UdpInDatagram Graph</p>
     <div><img src='{{ graph3 }}'></img></div>
     <p>udpInDatagrams</p>
     <table  border = 1; align="center" >
      <thead>
         <td>OID</td>
         <td>Value</td>
         <td>Type</td>
         <td>Time</td>
      </thead>
      {% for row in udpinrow %}
        <tr>
          <td>{{row["oids"]}}</td>
          <td>{{row["ka"]}}</td>
          <td> {{row["types"]}}</td>
          <td>{{row['times']}}</td>	
       </tr>
    {% endfor %}
   </table>
   <p>UdpOutDatagram Graph</p>
     <div><img src='{{ graph4 }}'></img></div>
   <p>udpOutDatagrams</p>
  <table  border = 1; align="center" >
    <thead>
       <td>OID</td>
       <td>Value</td>
       <td>Type</td>
       <td>Time</td>
    </thead>
    {% for row in udpoutrow %}
      <tr>
        <td>{{row["oids"]}}</td>
        <td>{{row["ka"]}}</td>
        <td> {{row["types"]}}</td>
        <td>{{row['times']}}</td>	
     </tr>
  {% endfor %}
 </table>


  </div>
  <p></p>
{% endblock %}